@import url('https://fonts.googleapis.com/css2?family=Cinzel:100,200,300,400,500,600,700');

body,
html{
    font-family: Cinzel, cursive;
    font-weight: 400;
    font-size: 25px;
    background-color: #000000;
    overflow-x: hidden;
}

/*------------- containers*/
.navbar-container{
position: fixed;
z-index: 1;
width: 100%;
margin: 0;
padding: 5px 5%;
box-shadow: 0px 4px 6px 0px rgba(255, 254, 254, 0.2);
-o-box-shadow:0px 4px 6px 0px rgba(255, 254, 254, 0.2);
-moz-box-shadow:0px 4px 6px 0px rgba(255, 254, 254, 0.2);
-webkit-box-shadow:0px 4px 6px 0px rgba(255, 254, 254, 0.2);
}

.footer-container{
font-family: Arial, Helvetica, sans-serif;
box-shadow: 0px 4px 6px 0px rgba(255, 254, 254, 0.2);
-o-box-shadow:0px 4px 6px 0px rgba(255, 254, 254, 0.2);
-moz-box-shadow:0px 4px 6px 0px rgba(255, 254, 254, 0.2);
-webkit-box-shadow:0px 4px 6px 0px rgba(255, 254, 254, 0.2);
}

.main-image-container{
    padding: 0;
}

.main-video-container[
    padding: 60px 0;
]

.main-social-container{
    height: 150px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

/*------------- padding/margin/colors*/
/*------------- bg colors*/
/*------------- block dividers*/
/*------------- navbar*/

.navbar{
    margin: -1px;
}

.navbar-brand{
    padding: 20px 20px;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.2s, ease-in-out;
    -o-transition:0.2s, ease-in-out;
    -moz-transition:0.2s, ease-in-out;
    -webkit-transition: 0.2s, ease-in-out;
}

 .navbar-default .navbar-brand{
color: #262626;
word-spacing: 0.1em;
letter-spacing: 0.1em;
}

.navbar-default .navbar-toggle icon-bar{
    background-color: #000000;
    height: 3px;
}

ul .active{
    font-size: 1.5em;

}

.navbar-toggle{
    border: none;
}

.navbar-default .navbar-collapse{
    border: none;
}

.navbar-nav{
    padding: 4px;
}

.navbar-default .navbar-nav>li>a{
    color: #262626;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    -o-transition:0.2s, ease-in-out;
    -moz-transition:0.2s, ease-in-out;
    -webkit-transition: 0.2s, ease-in-out;
}
/*------------- social links*/

.social-links{
    display: inline-block;
    text-align: center;
}

.fa{
    color: #800000;

}

.social-links>li {
height: 30px;
width: 30px;
padding: 4px;
margin: 2px;
border-radius: 50%;
background-color: #ffff00;
transition: 0.2s ease-in-out;
-o-transition:0.2s, ease-in-out;
-moz-transition:0.2s, ease-in-out;
-webkit-transition: 0.2s, ease-in-out;
}

.icon-footer{
    color: #000000;
}

.social-links-footer>li {
height: 40px;
width: 40px;
padding: 6px;
margin: 2px;
border-radius: 50%;
background-color: #800000;
transition: all 0.2s ease-in-out;
-o-transition:all 0.2s, ease-in-out;
-moz-transition: all, ease-in-out;
-webkit-transition:all 0.2s, ease-in-out;
}
/*------------- images*/
/*------------- videos*/
/*------------- tickets*/
/*------------- music page*/
/*------------- about page*/
/*------------- tickets page*/
/*------------- footer*/
/*------------- media*/